@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
.theme1 header .theme-container, .theme1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.theme1 main button, .theme1 main, .theme1 header .range-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme1 header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.theme1 {
  background-color: #3A4663;
  width: 100%;
  min-height: 100vh;
  gap: 28px;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}
.theme1 header {
  height: 88px;
  width: 327px;
  height: 42px;
}
.theme1 header h3 {
  font-size: 32px;
  line-height: 29.5px;
  letter-spacing: -0.5px;
  color: white;
}
.theme1 header .theme-container {
  align-items: flex-end;
}
.theme1 header .theme-container .theme-num {
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 9px;
}
.theme1 header .range-container {
  gap: 26px;
}
.theme1 header .range-container .them {
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: white;
}
.theme1 header .range-container input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 13px;
  width: 71px;
  height: 26px;
  background-color: #242D44;
}
.theme1 header .range-container input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  border-radius: 50%;
  background-color: #D03F2F;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
.theme1 .result {
  width: 327px;
  height: 88px;
  background-color: #181F33;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.theme1 .result h1 {
  font-size: 40px;
  line-height: 36.8px;
  letter-spacing: -0.67px;
  color: white;
  margin: 29px 24px 22px 0;
}
.theme1 main {
  width: 327px;
  background-color: #242D44;
  flex-wrap: wrap;
  gap: 13px;
  border-radius: 10px;
  padding: 24px 0;
}
.theme1 main button {
  width: 60px;
  height: 64px;
  border-radius: 5px;
  box-shadow: inset 0px -4px 0px #B3A497;
  background-color: #EAE3DC;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  border: none;
  cursor: pointer;
  color: #434A59;
  font-size: 32px;
  line-height: 29.5px;
  letter-spacing: -0.5px;
}
.theme1 main button:hover {
  background-color: white;
}
.theme1 main #del {
  background-color: #647198;
  color: white;
  box-shadow: inset 0px -4px 0px #414E73;
  cursor: pointer;
}
.theme1 main #del:hover {
  background-color: #A2B2E1;
}
.theme1 main #reset {
  width: 133px;
  background-color: #647198;
  color: white;
  box-shadow: inset 0px -4px 0px #414E73;
  cursor: pointer;
}
.theme1 main #reset:hover {
  background-color: #A2B2E1;
}
.theme1 main #equal {
  width: 133px;
  background-color: #D03F2F;
  color: white;
  box-shadow: inset 0px -4px 0px #93261A;
}
.theme1 main #equal:hover {
  background-color: #F96B5B;
}/*# sourceMappingURL=style.css.map */